{
  "extends": "airbnb",
  "plugins": [
    "cypress"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  },
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "__coverage__"
        ]
      }
    ]
  }
}
